
  body{
    margin: 0px;
    background-image: url(../home/background-home-desktop.f4zU4.jpg);
    background-position: center;
    background-size:cover;
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  html{
    display: block; 
  }
  html, body{
    overflow-x: hidden; 
    padding: 0px;
    min-height: 100vh;
  }
  .inspector-nav{
    position: absolute;
    width: 100%;
    height: 96px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 0px 44px;
    margin-top: 40px;

  }
  .text-block{
    width: 830px;
    background: rgba(255, 255, 255, 0.04); 
    backdrop-filter: blur(40.7742px);
    height: fit-content;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    margin-left: auto;
  }
  li{
    list-style-type: none;

  }
  a{
    text-decoration: none;
    color:#FFFFFF;
  }
  .text-block li{
    margin-left: 48px;
  }
  .text-block-ul{
    display:flex;
    flex-direction: row;
    width:100%;

  }
  .img-nav{
    width: 48px;
    height: fit-content;
  }
  .num{
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;

    color: #FFFFFF;
  }
  .text{
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FFFFFF; 
  }
  .nav-toggle{
    display: none;
    float: left;
    position: absolute;
    cursor: pointer;
    background:transparent;
    border:none;
    transform: translateX(85vw); 

  }
   /* aside{
    width:100%;
    min-height: 100%; 
    position: absolute; 
    z-index: 99999;
    display:flex;
    justify-content: flex-end;
    visibility: hidden;
    background-color: transparent
  }  */
  aside{
    height:fit-content;
    display:flex;
    justify-content: flex-end;
    visibility: hidden;
    position: relative;
  }
  .nav-side{
    /* box-sizing: border-box; */
    width: 0; 
    height: 100vh;
    position: fixed;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    transition: 300ms;
    visibility: hidden;
    z-index: 99999
  }
  #nav-anim{
    width:50%;
    transition: 300ms;
    visibility: visible;
  }
  .nav-side-list{
    width:100%;
    height:fit-content;
    margin-top: 145px;
  }
  .nav-side-list li{
    margin-top: 32px;
  }
  .closed{
    position:absolute;
    background: transparent;
    border: 0px;
    align-self:flex-end;
    margin-top: 35px;
    margin-right:8%;
  }

  .home{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    min-height: 100vh;
    position: absolute;

    
  }
  .text-block-space{
    width: fit-content;
    max-width: 450px;
    height: fit-content;
    max-height: 382px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
  }
  .text-space{
    width: fit-content;
    height: fit-content;
  }
  #want{
    text-transform: uppercase;
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    color: #D0D6F9;
  }
  #space{
    margin-top: 13px;
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 172px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;;
    width: 100%;
  }
  #face{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .explore{
    border-radius: 50%;
    background-color: #fafafa;
    width: 274px;
    height: 274px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 2px;
    color: #0B0D17;
    text-transform: uppercase;
  }
  .text-block-space, .explore{
    margin-top: 230px;
  }
  @media screen and (max-width: 1000px) {  
    body{
      margin: 0px;
      background-image: url(../home/background-home-tablet.jpg);
      background-size: cover;
      background-position: bottom;
      overflow:visible
    }
    .home{
      flex-direction: column;
      justify-content:flex-start;
      max-height: 100%;
    } 
    .text-block{
      width: 450px;
      padding: 0px;
      height: 100%;
      justify-content: space-between;
    }
    .text-block-space{
      max-height: 334px;
      max-width: 400px;
    }
    .inspector-nav{
      float: left;
      margin-left: auto; 
      margin-top: auto;
      justify-content: space-around;
      max-width: 100%;
      padding-left: 0px;
      position: relative;
    }
    .num{
      visibility: hidden;
      position: absolute
    }
    .text-block-ul li{
      margin: 0px;
    } 
    .text-block-space, .explore{
      margin-top: 20vh
    } 
    .text{
      font-size: 16px;
      margin-left: 27px
    }
    .explore{
      min-width: 225px;
      min-height: 225px;
      margin-top: 5%
    }
    #want{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    text-align: center;
    letter-spacing: 3.375px;
    width: 100%;
    }
    #space{
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 125px;
    line-height: 150px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0px
    }
    #face{
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #D0D6F9;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align:center;
    margin: 0px
    } 
    html, body{
      max-height: 80%;
      overflow-y: visible
    }
  } 
  @media screen and (min-height: 800px){
    html{
      overflow-y:  visible
    }
  }
  @media screen and (max-width: 900px){
    body{
      background-position: center;
    }
  }
  @media screen and (max-width: 600px){ 
    html{
      overflow-y: visible;
      overflow-x: hidden;
    } 
    .home{
      padding-top:0px;
    }
    .inspector-nav{
      padding: 0px;
      justify-content: space-around;
      max-width: 100%;
      padding-right: 10px;
      padding-left: 10px;
      position: absolute;
    }
    .text{
      font-size: 13px;
    }
    body{
      background-image: url(../home/background-home-mobile.jpg);
      background-size: cover;
      background-position: bottom; 
    } 
    .text-block-space{
      max-width:327;
      max-height: 276px;
      margin-top: 20vh;
    }
    #want{
      font-size: 16px;;
    }
    #space{
      font-size: 80px;
      max-width: 327px;
      max-height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    #face{
      font-size: 15px;
      max-width: 327px;
      max-height: 276px;

    }
    .explore{
      position: relative;
      width: 175px;
      height: 175px;
      font-size: 20px;
      margin-top: 10vh
    }
  } 
  @media screen and (max-width: 490px){ 
    .text-block{
      display: none;
      position: absolute;
    }
    .nav-toggle{
      display:block;
      position: absolute;
      z-index: 1000
    
    }

    .inspector-nav{
      justify-content: space-between;
      max-width: 100%;
      position: absolute;

    }
    html{
      overflow-y: visible;
    }
    body{
      background-image: url(../home/background-home-mobile.jpg);
      background-size: cover;
      background-position:center;  
    }
    .nav-side .num{
      visibility: hidden;
      position: absolute;
    }
  }
  @media (orientation: landscape) and (max-height:600px){
    .explore{
    width:70px;
    height:70px;
    }
    .text-block-space{
      margin-top: 30vh;
    }
    .inspector-nav{
      padding-left: 20px
  }

}

