body{
  background-image: url('background-technology-desktop.jpg');
  background-size: cover;
  background-position: center;
  display:grid;
  grid-template-columns: 1fr, auto;
  min-height: 100vh;
  color:white;
  margin: 0px;
  overflow-x: hidden;
}
html{
  overflow-y: auto;
  overflow-x:hidden
}
.inspector-nav{
  grid-row: 1;
  position: relative;
}
.technology{
  grid-row: 2;
  display:grid;
  grid-template-columns: auto repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  margin-bottom: 100px;
  padding-left: 150px;
}
.launch{
  grid-row:1;
  grid-column: 1/ span 2;
  width:fit-content;
  height:fit-content;
  font-size: 28px;
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.launch span{
  mix-blend-mode: normal;
  opacity: 0.25; 
}
.technology-text-container{
  grid-row: 2;
  grid-column: 2;
  display:flex;
  flex-direction:column;
  color: #D0D6F9;
  font-style: normal;
  font-weight: 400;
  max-width:480px;
  max-height: 303px;
  margin-left: 50px;
}
.terminology{
  font-family: 'Barlow Condensed';
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}
.name-stage{
  font-family: 'Bellefair';
  font-size: 56px;
  line-height: 64px;
  color: #FFFFFF;
  text-transform: uppercase;
  width:fit-content;
}
.description{
  font-family: 'Barlow';
  font-size: 18px;
  line-height: 32px;
  text-align: start;
  max-width:444px;
}
.button-container{
  grid-row: 2;
  grid-column: 1;
  width: fit-content;
  height: 310px;
  display:flex;
  flex-direction: column;
  justify-content: space-between
}
.button-number{
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display:flex;
  align-items:center;
  justify-content: center;
  cursor:pointer;
  transition: 300ms;
  color: #FFFFFF;
  font-size: 32px;
}
.button-number:hover{
  background:white;
  opacity:1;
  transition: 300ms;
  color: black;
}
.container-img{
  grid-column: 3;
  grid-row: 1/ span 2;
  place-self: center;
  width: fit-content;
  height: fit-content;
  margin-left: auto;
}
.button-active{
  background: white;
  color: black;
}
.landscape{
  display:none;
}
@media screen and (max-width:1000px){
body{
  background-image: url('background-technology-tablet.jpg');
  row-gap:50px;
  max-width:100vw
}
.technology{
  grid-template-columns: 1fr;
  grid-template-rows:1fr, auto, repeat(2, 1fr);
  padding:0px;
  row-gap: 50px;
  max-width:100vw
}
.container-img{
  grid-row:2;
  grid-column:1;
  place-self: center;
  margin:0;
  width:100vw;
  height:300px;
}
.portrait{
  display:none;
}
.landscape{
  display:block;
}
.landscape img{
  width: 100vw;
  height:310px;
  grid-row:2
}
.technology-text-container{
  grid-row:4;
  grid-column:1;
  margin:0px;
  place-self:center
}
.button-container{
  grid-row: 3;
  grid-column:1;
  flex-direction: row;
  place-self:center;
  height:fit-content
}
.terminology{
  text-align:center
}
.description{
  text-align:center
}
}
@media screen and (max-width:490px){
  .body{
    background-image: url('background-technology-mobile.jpg');
    padding:0px;
  }
  .technology{
    grid-template-rows: repeat(4, auto);
    row-gap:50px;
  }
  .inspector-nav{
    margin:0px;
  }
  .landscape img{
    width:100%;
    display:flex;
    align-items:center;
    justify-items:center;
    height:100%
  }
  .landscape{
    height:170px;
    width:375px;
  }
  .technology-text-container{
    align-items:center;
    justify-content: center;
  }
  .launch{
    text-align:center;
    width:100%;
    font-size:16px;
  }
  .description{
    text-align:center;
    max-width:100%;
    font-size:15px;
  }
  .name-stage{
    text-align:center;
  }
  .nav-side{
    top:0;
    bottom:0;
    height:115vh
  }
  .terminology{
    font-size:14px;
  }
  .name-stage{
    font-size: 24px;
  }
  .button-number{
    width:40px;
    height:40px;
    font-size:16px;
    margin-left:10px;
  }
  .button-container{
    margin-right:10px;
  }
}
