body{
  background-image: url('background-crew-desktop.jpg');
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0px;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: 1fr, auto;
  grid-template-columns: 1fr, auto;
}

.inspector-nav{
  position: relative;
  grid-row: 1;
}
.crew{
  grid-row: 2;
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  position: relative;
  justify-items: center;
  padding: 50px 15% 3% 10%
}
.meet{
  grid-column: 1;
  grid-row: 1;
  height:fit-content;
  font-family: 'Barlow Condensed';
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  color: #FFFFFF;
  text-transform: uppercase;
  width:fit-content;
  justify-self: start;
}
.num-crew{
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.25;
  font-weight: 700;
  font-size: 28px;
}
.info-text-container{
  display:flex;
  flex-direction: column;
  justify-content:flex-start;
  color: white;
  height: fit-content;
  width: 500px;
  grid-column: 1;
  grid-row: 2;
  justify-self: start;
}
.rank{
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.name{
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 15px;
}
.info-text{
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #D0D6F9;
  margin-top: 27px;
}
.img-human{
  grid-column: 2;
  grid-row: 1/ span 2;
}
.button-container{
  width:140px;
  grid-row: 2;
  grid-column:1;
  align-self: end;
  justify-self: start;
  margin-bottom: 90px;
  display:flex;
  justify-content: space-between;
}
.list-button{
  width:20px;
  height:20px;
  border-radius: 50%;
  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.17;
  cursor: pointer;
  border: 0px;
}
.list-button:hover{
  opacity: 0.5;
}
.list-active{
  opacity:1;
}
@media screen and (max-width: 1000px){
  body{
    background-image: url('background-crew-tablet.jpg');
    background-size: cover;
    row-gap: 70px;
    max-height: auto;
  }
  .crew{
    grid-template-columns: 100vw;
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding:0px;
    /* row-gap: 10px; */
  }
  .meet{
    grid-column:1;
    width:300px;
    margin-left: 20px;
    font-size: 20px;
  }
  .meet span{
    font-size: 20px;
  }
  .info-text-container{
    grid-row: 2;
    grid-column: 1;
    place-self: center;
  }
  .rank, .info-text, .name{
    text-align:center;
  }
  .rank{
    margin-top: 30px;
    font-size: 24px;
  }
  .name{
    font-size: 40px;
    margin:0px;
  }
  .info-text{
    font-size: 16px;
    min-height: 128px;
    margin: 0px;
  }
  .img-human{
    grid-row: 4;
    grid-column: 1;
    place-self: center;
  }
  .button-container{
    justify-self: center;
    grid-column: 1;
    margin:0px;
    grid-row: 3
  }
}
@media screen and (max-width:490px){
  body{
    background-image: url('background-crew-mobile.jpg');
    row-gap: 0px;
    grid-template-rows: auto;
  }
  html{
    overflow:auto
  }
  .crew{
    margin-bottom: 150px;
    row-gap: 20px;
  }
  nav{
    height:fit-content
  }
  aside{
    height: 150px;
    margin-bottom: 30px;
  }
  .meet, .meet span{
    font-size: 16px;
  }
  .meet{
    place-self: center;
    width:fit-content
  }
  .rank{
    font-size: 16px;
  }
  .name{
    font-size: 24px;
  }
  .info-text{
    font-size: 15px;
  }
  .img-human img{
    max-width:177px;
    max-height:222px;
    margin-left: 20px;
  }
  .img-human{
    grid-row:2;
    width:327px;
    height:223px;
    display:flex;
    justify-content: center;
    align-items:center;
    border-bottom: 2px solid #383B4B;
  }
  .info-text-container{
    grid-row:4;
    width: 327px;
    height: 212px;
  }

} 